body{
    background: transparent;
}

.impress-supported .fallback-message {
    display: none;
}

.impress-not-supported .step{
    display: none;
}


.step {
    position: relative;
    width: 1200px;
    padding: 40px;
    margin: 20px auto;
/*    font-family: 'PT Serif', georgia, serif;*/
    font-size: 56px;
    line-height: 1.5;
}

.answer{
    list-style: none;
    cursor: pointer;
}

.select{
    width: 23px;
    height: 23px;
    display: inline-block;
    background: green;
}