/*.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}
*/

body{
	margin: 0 0;
}

.curtain{
	width: 100%;
	margin: 0;
	padding: 0;
}

.curtain .step{
	width: 100%;
	display: block;
	text-align: center;
}

.curtain-controler{
	position: fixed;
	top: 30%;
	right: 0;
	z-index: 99;
}

.curtain-controler .step{
	list-style: none;
	cursor: pointer;
	width: 50px;
	height: 40px;
	line-height: 40px;
	text-align: center;
    color: #fff;
    font-weight: bold;
    border: 1px solid #fff;
}

.start{
	background: rgb(255, 252, 221);
}

.cehua{
	background: rgb(227, 36, 0);
}

.jishu{
	background: rgb(59, 136, 254);
}

.meigong{
	background: rgb(197, 187, 1);
}

.form{
	background: rgb(135, 78, 255);
}

.logo{
	margin-top: 100px;
}
