/*.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}
*/

body{
	margin: 0 0;
}

.curtain{
	width: 100%;
	margin: 0;
	padding: 0;
}

.step{
	width: 100%;
	display: block;
	text-align: center;
}

#start{
	background: rgb(255, 252, 221);
}

#cehua{
	background: rgb(227, 36, 0);
}

#jishu{
	background: rgb(59, 136, 254);
}

#meigong{
	background: rgb(197, 187, 1);
}

#form{
	background: rgb(135, 78, 255);
}

.logo{
	margin-top: 200px;
}
